/* Google Maps Embed API */

.map-responsive {
    overflow: hidden;
    padding-bottom: 30%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}


/*  */

#map {
    height: 25em;
    margin-top: 4vw;
}


/* Optional: Makes the sample page fill the window. */
/*
html,
body {
    height: 25em;
    margin: 0;
    padding: 0;
}*/

/* Upto this width ...*/
@media (max-width: 768px){
    #map {
        height: 45vw;
    }
}

/* After this width ...*/
@media (max-width: 480px){
    #map {
        height: 55vw;
    }
}
