/***** Top menu *****/

.navbar {
	margin-bottom: 0;
	padding-top: 0;
	background: #3A3A3A;
	border: 0;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	-o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
}
.navbar-no-bg { padding-top: 1em; padding-bottom: 0.9em; background: none; }


.navbar-brand {
	width: 102px;
	background: url(../img/logo.png) left center no-repeat;
	text-indent: -99999px;
}

/***** Brand Text *****/
.navbar-brand-label{
    font-family: 'Anton', sans-serif;
    font-family: 'Acme', sans-serif;
    font-family: 'Bree Serif', serif;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.5em;
    color: azure;
    background: rgba(0, 0, 0, 0.0);
    display: inline-block;
    padding-top: .35em;
    margin-left: -.7em;
    width:90%;
    text-align:left;
}


/***** Mega Navbar *****/

.mega-dropdown, .mega-dropdown > ul > li > a {
  position: static !important;
    color: white;
}

.mega-dropdown > ul > li > .dropdown-menu {
    color:#ffffff;
    background: rgba(66, 66, 66, 0.99);
}

.dropdown1{ color: aliceblue}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    background: rgba(61, 61, 61, 0.99);
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 1px;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
    background: #3A3A3A
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}

/* END */

/*
.dropdown-menu > li.kopie > a {
    padding-left:5px;
}

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
   top:0;left:100%;
   margin-top:-6px;margin-left:-1px;
   -webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;
 }

.dropdown-submenu > a:after {
  border-color: transparent transparent transparent #333;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  display: block;
  float: right;
  height: 0;
  margin-right: -10px;
  margin-top: 5px;
  width: 0;
}

.dropdown-submenu:hover>a:after {
    border-left-color:#555;
 }

.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {
  text-decoration: none;
}

@media (max-width: 767px) {

  .navbar { padding-top: 0; background: #444; }
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { margin-left: 15px; }
  .navbar-collapse { border: 0; }
  .navbar-inverse .navbar-toggle { border-color: transparent; }
  .navbar-inverse ul.navbar-nav li a.btn-link-3 { margin: 10px; }



  .navbar-nav  {
     display: inline;
  }
  .navbar-default .navbar-brand {
    display: inline;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-nav .dropdown-menu > li > a {
    color: red;
    background-color: #ccc;
    border-radius: 4px;
    margin-top: 2px;
  }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
     color: #333;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
     background-color: #ccc;
   }

   .navbar-nav .open .dropdown-menu {
     border-bottom: 1px solid white;
     border-radius: 0;
   }
  .dropdown-menu {
      padding-left: 10px;
  }
  .dropdown-menu .dropdown-menu {
      padding-left: 20px;
   }
   .dropdown-menu .dropdown-menu .dropdown-menu {
      padding-left: 30px;
   }
   li.dropdown.open {
    border: 0px solid red;
   }

}*/

/* Display submenu on Hover */
@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
  #navbar {
    text-align: center;
  }
}

